body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.2rem;

  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;

  ul {
    padding-left: 0;
  }

  a {
    &:hover {
      cursor: pointer;
    }
  }

  button {
    border: none;
    background-color: transparent;
    transition: all 0.2s ease;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: translateY(1px);
    }
  }

  .icon {
    width: 35px;
    height: 35px;
    fill: black;
  }

  .cart-img {
    width: 40px;
    height: 40px;
  }
}
