.dashboard-container {
  display: block;
  margin: 1rem auto;
  width: 90%;

  .welcome-container {
    margin-top: 2.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgb(247, 244, 244);
    h1 {
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 2rem;
    }

    .search-form-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      max-width: 500px;
      width: 100%;
      height: 45px;
      margin: 0 auto;
      position: relative;

      input {
        width: 100%;
        padding: 0 1rem;
        font-size: 1.2rem;

        border-radius: 40px;
        border: none;
        background-color: rgb(235, 233, 233);
      }

      .search-btn {
        position: absolute;
        right: 20px;
        top: 5px;

        .icon {
          width: 25px;
        }
      }
    }
  }
}

/* main part  */
.dashboard-main-container {
  margin-top: 3.5rem;
}

.overall-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .overall-card {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    padding: 0.8rem 0 0.8rem 1.5rem;
    width: 90%;
    max-width: 350px;
    border: 1px solid rgb(225, 222, 222);
    border-radius: 5px;

    h2 {
      font-size: 1.2rem;
      text-wrap: wrap;
    }
  }
}

/* widget  */




@media (min-width: 770px) {
  .overall-info-container {
    flex-direction: row;
  }
}

@media (min-width: 1090px) {
  .dashboard-container {
    /* background-color: antiquewhite; */
    .welcome-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 2rem;

      h1 {
        text-align: center;
        margin-bottom: 2rem;
        font-size: 1.7rem;
      }

      .search-form-container {
        width: 90%;
        margin-right: 0;

        input {
          width: 100%;
          padding: 0 1rem;
          font-size: 1.2rem;
        }

        .search-btn {
          position: absolute;
          right: 20px;
          top: 5px;

          .icon {
            width: 25px;
          }
        }
      }
    }
  }

  .overall-info-container {

    .overall-card {
      max-width: 380px;
    }
  }
}
