<div class="sidebar-container">
  <div class="wrapper">
    <button class="close-btn" aria-label="close button">
      <svg class="icon">
        <use xlink:href="/images/sprite.symbol.svg#close"></use>
      </svg>
    </button>
  </div>
  <!-- log out route -->
  <ul>
    <li><a href="/">View Account</a></li>
    <li><a href="/">Dashboard</a></li>
    <li><a href="/">Log Out</a></li>
    <li><a href="/">Help</a></li>
  </ul>
</div>
